/* Whole page settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}

/* Navbar positioning, color and hover effect */
#navBar {
  position: fixed;
  font-size: 13px;
  color: rgb(44, 44, 44);
  font-size: 14px;
  width: 100%;
}

nav:hover {
  color: black;
}

/* Jumbotron section styling and positioning */
.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 650px;
  background: url(../images/jumbo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
}
.icons {
  display: flex;
  flex-direction: row;
}

/* Work Section image description */

.workheader {
  margin: 20px;
}

.container {
  display: grid;
}

/* Skills Section */
.skills {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-left: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

/* About me Card */
.card2 {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-top: 100px;
  margin-right: 15px;
  margin-top: 0;
  width: auto;
  height: 455px;
  border: 1px rgb(223, 223, 223) solid;
  border-radius: 5px;
}

.about {
  padding: 15px;
  text-align: justify;
}

.about_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

.card-body > img {
  margin-top: 25px;
  border-radius: 220px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: rgb(94, 93, 93); /* IE */
}

/* Button Style and Hover animation */
.button {
  background-color: black;
  border: 0;
}

.button:hover {
  background-color: rgb(98, 97, 97);
  border: 1px solid rgb(250, 248, 248);
}

/* Footer */
.footer {
  margin-top: 20px;
  background-color: rgb(81, 81, 81);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copy {
  justify-content: center;
  font-size: 13px;
}

.link {
  margin-top: 25px;
}
